.Dictionary {
  font-size: 1.2em;
}

form {
  margin-bottom: 1em;
}

form input {
  margin: 0.4em;
  padding: 0.2em;
}

form .type-search {
  border-radius: 0.2em;
  width: 40%;
}

form .submit-button {
  border-radius: 0.5em;
}
