.Results {
  text-align: left;
}

.Results h2 {
  font-size: 2.3em;
  font-weight: bold;
}

.Phonetics {
  margin-bottom: 0.5em;
}

.Phonetics figure {
  display: block;
}

.phonetic-text {
  font-size: 1.4em;
  color: #636567;
  padding: 0.5em;
}

.Meaning {
  margin-top: 0.8em;
  padding-left: 1em;
  line-height: 1.8em;
}
